*{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}

.starting-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 600px;
  margin: 100px auto 0 auto;
  border: 5px solid gray;
  border-radius: 30px;
}

.starting-page__title{
  width: 70%;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form > div >*{
  font-size: larger;
}

.form__submit{
  margin: 10px auto;
  height: 80px;
  width: 100%;
  font-size: larger;
}